* text=auto eol=lf
/.github export-ignore
/.gitignore export-ignore
/.editorconfig export-ignore
/docs export-ignore
/tests export-ignore
/phpunit.xml.dist export-ignore
/phpstan.neon.dist export-ignore
/phpcs.xml.dist export-ignore
/CHANGELOG.md export-ignore
/CONTRIBUTING.md export-ignore
/SECURITY.md export-ignore


