includes:
    - vendor/nesbot/carbon/extension.neon
    - tests/phpstan-carbon.php

parameters:
    level: 6
    paths:
        - src
        - tests
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
