includes:
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 6
    paths:
        - src
        - tests
    excludePaths:
        - tests/phpstan-bootstrap.php
    bootstrapFiles:
        - tests/phpstan-bootstrap.php
